@media (max-width: 1080px) {

  .navbar{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  #container__intro{
    flex-direction: column-reverse;
  }

  #container__intro h2{
    text-align: center;
  }

  .main__bio h2{
    text-align: center;
  }


  #container__bio{
    justify-content: center;
  }

  .main__bio__cards{
    display: flex;
    flex-direction:column;
  }

  .tablink{
    width: 550px;
    align-items: center;
  }

  .tabcontent{
    width: 550px;
    height: 650px;
    padding: 20px;
  }

  #container__curiosidades{
    justify-content: center;
  }

  .main__curiosidades h2{
    text-align: center;
  }

  #container__mulheres__tecnologia{
    flex-direction: column;
  }

  #container__mulheres__tecnologia h2{
    padding-bottom: 1rem;
  }

}


@media (max-width: 640px) {

  .main__curiosidades__card{
    width: 500px;
  }

  .main__curiosidades h2{
    font-size: 1.2rem;
  }

}


@media (max-width: 570px) {

  .main__intro__descricao{
    width: 450px;
  }

  .main__intro__imagem img{
    width: 450px;
  }

  .tablink{
    width: 450px;
  }

  .tabcontent{
    width: 450px;
    height: 760px;
  }

  .main__curiosidades__card{
    width: 450px;
  }

  #main__mulhers__tecnologia__lista li{
    font-size: 0.8rem;
    padding: 0 1rem;
  }

  #container__mulheres__tecnologia h2{
    font-size: 1.5rem;
  }


}

@media (max-width: 460px) {

  .header__title h1{
    font-size: 3.5rem;
  }

  .header__title h3{
    font-size: 1rem;
  }

  .main__intro__imagem img {
    width: 300px;
    height: 300px;
  }

  .main__intro__descricao{
    width: 300px;
  }

  .tablink{
    width: 300px;
  }

  .tabcontent{
    width: 300px;
    height: 800px;
  }

  .tabcontent p{
    font-size: 0.8rem;
  }


  .main__curiosidades__imagem img{
    width: 300px;
  }

  .main__curiosidades h2{
    font-size: 1rem;
    padding: 2rem;
  }

  .main__curiosidades__card{
    width: 300px;
  }

  .main__curiosidades__card summary{
    font-size: 1rem;
  }

  #container__mulheres__tecnologia h2{
    font-size: 1.2rem;
    width: auto;
    padding: 1rem 2rem;

  }

  .main__mulhers__tecnologia__lista li{
    font-size: 0.7rem;
    width: 300px;
  }

  .rodape h3, .rodape p{
    font-size: 0.7rem;
  }

}